$primary: #3300ce;
$secondary: #14ff00;
$hover: #10cb00;
$text-grad: linear-gradient(
    180deg,
    #ffffff 35.42%,
    #ffffff 44.67%,
    rgba(82, 120, 255, 0) 103.92%
);
$text-main: #151515;
$disabled: #bcbcbc;
$gray-light: #f7f7f7;
