@import "./colors.scss";

html {
    box-sizing: border-box;
}
*,
*:before,
*:after {
    box-sizing: border-box;
}

/* z-index variables */
:root {
    --header-z-index: 4;
    --sidebar-z-index: 4;
    --bottom-menu-z-index: 4;
    --modal-z-index: 4;
}

body,
html {
    margin: 0;
    padding: 0;
    outline: none;
    scrollbar-color: $gray-light $disabled;
    scrollbar-width: thin;
    scrollbar-gutter: stable;

    ::-webkit-scrollbar {
        width: 8px;
    }

    ::-webkit-scrollbar-track {
        background: $gray-light;
        border-radius: 60px;
    }

    ::-webkit-scrollbar-thumb {
        height: 36px;
        background: $disabled;
        border-radius: 60px;
    }
}

p {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
    -webkit-text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button,
input {
    font-family: inherit;
}

input:not([type="checkbox"]):not([type="radio"]),
textarea,
select {
    appearance: none;
    appearance: none;
    appearance: none;
}

.disabled {
    opacity: 0.5 !important;
    transition: opacity 0.3s;
    pointer-events: none !important;
}

.grecaptcha-badge {
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
}

input[type="number"] {
    appearance: textfield;
}
